* {
    margin: 0;
    padding: 0;
    color: rgb(0, 106, 255);
}


header {
    margin-top: 15px;
    background-color:rgb(119, 176, 255);
    padding-bottom: 45px;
}
header a {
    color:rgb(119, 176, 255);
    font-size: 24px;
    padding: 25px;
    padding-left: 25px;
    text-align: center;
}
h1 {
    padding: 25px;
    padding-left: 60px;
    font-size: 60px;
    height: 25px;
    text-align: center;
}




/* Navigation Bar Color*/
.topnav {
    background-color: rgb(119, 176, 255);
    height: 150px;
    padding: 15px;
}
/* Styles the links in the nav bar */
.topnav a {
    color: rgb(0, 106, 255);
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    font-size: 24px;
}


/* Color change when hover */
.topnav a:hover {
    color:rgb(0, 24, 158);
    text-shadow: 2px 2px 5px black;
}
/* Adding color or underline to the active link */
.topnav a.active {
    text-decoration: underline;
}



.column {
    float: left;
    width: 25%;
    padding-right: 80px;

}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.disneyImageSize {
    height: 350px;
    width: 150px;
}





/* Background */
body {
    width: 960px;
    background-image: url(../Images/DisneyBackground.jpg);
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: rgb(119, 176, 255);
    height: 155px;
    font-size: 30px;
    margin-bottom: 15px;
}