* {
    padding: 0;
    color: rgb(0, 106, 255);
}


header {
    margin-top: 15px;
    background-color:rgb(119, 176, 255);
    height: 155px;
}

header a {
    color: rgb(0, 106, 255) ;
    font-size: 24px;
    padding: 25px;
    padding-left: 90px;
    text-align: center;
}

h1 {
    padding: 25px;
    padding-left: 60px;
    font-size: 60px;
    height: 25px;
    text-align: center;
    margin: 15px;
}




/* Nav (from my other project seeing if I can get it similar to that one again ) */
nav {
    clear: both;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    margin-top: 25px;
    margin-right: 25px;
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}





/* Navigation Bar Color */
.topnav {
    background-color: rgb(119, 176, 255);
    height: 150px;
    padding: 15px;
}
/* Styles the links in the nav bar */
.topnav a {
    color: rgb(0, 106, 255);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    font-size: 24px;
}


/* Color change when hover */
.topnav a:hover {
    color: rgb(0, 24, 158);
    text-shadow: 2px 2px 5px black;
}

/* Adding color or underline to the active link */
.topnav a.active {
    text-decoration: underline;
}




/* images */
.column {
    float: left;
    width: 25%;
    padding-right: 80px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.disneyImageSize {
    height: 350px;
    width: 150px;
    margin: 15px;
    text-align: center;
    display: block;
}





/* Background */
body {
    width: 960px;
    background-image: url(../Images/DisneyBackground.jpg);
    margin: 0 auto;
}




footer {
    text-align: center;
    padding: 15px;
    background-color: rgb(119, 176, 255);
    height: 155px;
    font-size: 30px;
    margin-bottom: 15px;
}


/* rainbow progress bar */
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%,
    100% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(360deg);
    }
}
  #progressbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}
#progressbar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}